.card.svelte-1985fv4{overflow:visible !important}.input.svelte-1985fv4{border-radius:5px}body .date-time-field input{box-shadow:inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);max-width:100%;width:100%;background-color:#fff;border-color:#dbdbdb;border-radius:4px;color:#363636;font-size:medium;padding:0.5rem}.selectContainer .listContainer .listItem{font-size:14px}.button.is-success svg *, .button.is-danger svg *, .button.is-info
            svg
            *{color:white}
